@charset "utf-8";
/* CSS Document */

*
{
	margin 		: 0px;
	padding 	: 0px;
	font-family : openSans;
	font-size 	: 15px;
	font-weight : bolder;
}

html
{
	width 			: 1366px;
	height 			: 720px;
	padding 		: 0;
	margin 			: 0;
	text-decoration : none;
}

.selection
{
	width 			: 300px;
	height 			: 700px;
	left 			: 0px;
	top 			: 0;
	position 		: absolute;
	background 		: #dddddd;
	border 			: 10px solid #535353;
}

.selection ul li
{
	color 			: rgb(59, 68, 103);
	list-style 		: none;
	/* border-bottom 	: 10px solid rgba(157, 157, 157, 0.3); */
}

.canvas
{
	width 			: 1200px;
	height 			: 700px;
	left 			: 310px;
	top 			: 0;
	position 		: absolute;
	border 			: 10px solid #535353;
}

.header
{
	font-size			: 30px;
	text-align			: center;
	color				: #2d3451;
	letter-spacing		: 0.5px;
	padding				: 20px;
}

.container1
{
 	display 				: grid;
 	grid-template-columns 	: 70px 70px 70px 70px;
	grid-template-rows 		: 30px 50px;
	padding					: 30px 25px 30px 25px;
	align-items				: center;
	background-color		: #bfbfbf;
	/* margin-top 				: 30px; */
	/* border 					: 5px solid #5d688b;
	border-radius 			: 10px 10px 10px 10px; */

}

.text
{
	padding: 0px 5px 5px 0px;
}

.pt1 
{
	position 		: relative;
	overflow 		: hidden;
	width 			: 32px;
	height 			: 32px;
	border 			: solid 3px #ffffff;
	border-radius 	: 20px;
}

.pt2
{
	position 	: relative;
	left 		: -5px;
	top 		: -5px;
	width 		: 60px;
	height 		: 60px;
	border 		: none;
	cursor		: pointer;
}

.pt1:hover
{
	animation : anim 0.3s ease 0s 1 normal forwards;
}

.container2
{
 	display 				: grid;
 	grid-template-columns 	: 170px 100px;
	grid-template-rows 		: 55px;
	padding					: 30px 10px 30px 30px;
}

.container3
{
 	display 				: grid;
 	grid-template-columns 	: 170px 100px;
	grid-template-rows 		: 55px;
	padding					: 30px 10px 30px 30px;
	background-color		: #bfbfbf;
}

.title
{
	font-size: 16px;
	padding: 0 0 0 10px;
}


.slide
{
	width 		: 115px;
	background: #7988c5;
	cursor: pointer;
}

.sub2
{
	width  			: 50px;
	height 			: 50px;
	border 			: 3px solid #ffffff;
	border-radius 	: 30px;
	background 		: #505b6b;
	margin-left 	: 20px;
}

.sub2 p
{
	color		: #dddddd;
	font-size	: 15px;
	text-align 	: center;
	position 	: relative;
	top 		: 30%;
}

.button-container1
{
	/* display 				: grid; */
 	grid-template-columns 	: 170px 100px;
	grid-template-rows 		: 55px;
	padding					: 70px 10px 2px 30px;
}

.button-container2
{
	/* display 				: grid; */
 	grid-template-columns 	: 170px 100px;
	grid-template-rows 		: 55px;
	padding					: 8px 10px 10px 30px;
}

.buttons #start,#stop
{
	color			: #dddddd;
	width 			: 240px;
	height 			: 40px;
	border 			: none;
	border-radius 	: 20px;
	outline 		: none;
	background 		: #273f62;
	cursor			: pointer;
}



.buttons #start:hover, #stop:hover
{
	animation: bounce 1s;
}


.buttons #start:hover, #stop:hover
{
  color: #273f62;
  background-color 	: #97afc6;
  box-shadow 		: 0 2px #666666;
  transform 		: translateY(2px);
}


@keyframes anim
{
	0% 
	{
		border : solid 3px #dddddd;
	}
	
	100%
	{
		border 		: solid 3px #ffffff;
		box-shadow 	: 0 0 15px #ffffff;
		transform 	: scale(1.2);
	}
}

@keyframes bounce 
{
	0%, 20%, 60%, 100% 	{transform: translateY(0);}
	40% 				{transform: translateY(-10px);}
	80% 				{transform: translateY(-5px);}
}